/* This file is for your main application css. */

.help-block{
  color: red;
  text-transform: capitalize;
  position: absolute;
  top: 35px;
}

.form_control{
  position: relative;
  margin-bottom: 25px;
}
